build*/
.directory
.mailmap
*.orig
*.rej
*~
.hg/
*.kdev*
.DS_Store
CMakeLists.txt.user
*.bak
*.patch
*.diff
*.REMOTE.*
*.BACKUP.*
*.BASE.*
*.LOCAL.*
/source/sql
source/sql/base/world.zip
source/sql/base/characters.zip
source/sql/base/auth.zip
project/ALL_BUILD.vcxproj
project/ALL_BUILD.vcxproj.filters
project/cmake_install.cmake
project/CMakeCache.txt
project/CMakeFiles/0ac1016e96268f7444ecac454b508641/INSTALL_force.rule
project/CMakeFiles/0eae6320ddf9e890d429021bbb0355a6/INSTALL_force.rule
/project/CMakeFiles
/project/dep
*.vcxproj
project/INSTALL.vcxproj.filters
project/revision.h
project/src/cmake_install.cmake
/project/src/genrev
*.cmake
*.sln
*.filters
*.stamp
*.depend
/project/.vs
*.user
*.obj
*.recipe
*.ilk
*.log
*.pch
*.res
*.lastbuildstate
*.tlog
*.pdb
*.lib
*.txt
*.aps
*.dmp
*.dbc
*.db2
*.map
*.mmap
*.mmtile
*.vmtree
*.vmtile
*.vmo
*.bat
*.lnk
